<!-- templates/dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>Welcome, {{ name }}!</h2>
    <p>This is your BoilerPractice student dashboard.</p>
    <p>What would you like to do?</p>
    <ul>
        <li><a href="/quiz">Choose Quiz Topic to practice</a></li>
        <li><a href="/quiz_topic_report">Choose Quiz Topic to generate Report</a></li>
        <li><a href="/edit_user_page">Edit User</a></li>
        <li><a href="/delete_user">Delete User</a></li>
        <li><a href="/logout">Logout</a></li>
        
        
        <!--<p>THE NEXT 5 OPTIONS WILL NOT BE IN THE FINAL VERSION</p>
        <p>I will only use them to demonstrate updates in the database for the demo</p>
        <li><a href="/view_questions">View questions table</a></li> 
        <li><a href="/view_students">View students table</a></li> 
        <li><a href="/view_student_choices">View student_choices table</a></li> 
        <li><a href="/view_choices">View choices table</a></li> 
        <li><a href="/view_teachers">View teachers table</a></li> -->
    </ul>
</body>
</html>
