<!-- report_answers.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Quiz Report</title>
</head>
<body>
    <h2>Quiz Report Description</h2>
    <p> <b>Topic:</b>  {{ topic }}</p>
    <p> <b>Student:</b> {{ name }}</p>
    <p> <b>Show Correct Answers for mistakes:</b> {{ show_correct_answers }}</p>
    <p> <b>Estimated Grade:</b> {{ grade }}</p>
    <p> {{ message }}</p>
    <p> <b>The Correct Answers to the Questions solved incorrectly are:</b></p>
    <p> {{ show }}</p>

    <ol>
        {% for question, answers in questions %}
            <li>{{ question }}</li>
            <ul> {{ answers }} </ul>
        {% endfor %}
    </ol>

    <!-- Add more report content here -->
</body>
</html>