<!-- view_students.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Student Choices</title>
</head>
<body>
    <h2>All Choices</h2>
    <table border="1">
        <thead>
            <tr>
                <th>question_id</th>
                <th>choice_id</th>
                <th>student_id</th>
                <th>correct</th>
            </tr>
        </thead>
        <tbody>
            <h2>{{ students }}!</h2>
        </tbody>
    </table>
</body>
</html>
